/* 
Customized CSS. 
* Put everything you want to change in style here, 
* it will overwrite bootstrap customs, if necessary.
*/

.carousel-text {
	color: black;
}

.section-colored {
  background-color: #777777; /* change this to change the background color of a colored section */
}

.font1 {
	font-family: 'Ubuntu', 'Open Sans', serif;
}

.font2 {
	font-family: 'Lora', 'PT Serif', 'Open Sans', serif;
}

.logo {
	/* without !important doesn't work:
	solution found here: http://stackoverflow.com/questions/16625972/change-color-of-bootstrap-navbar-on-hover-link*/
	
	font-family: 'Ubuntu', 'Open Sans', serif;	
	color: red !important;
	text-align: center;
	font-size: 20 !important;
}