/* 
Customized CSS. 
* Put everything you want to change in style here, 
* it will overwrite bootstrap customs, if necessary.
*/

.section-colored {
  background-color: #777777; /* change this to change the background color of a colored section */
}

.font1 {
	font-family: 'Ubuntu', 'Open Sans', serif;
}

.font2 {
	font-family: 'Droid Sans', 'Open Sans', serif;
}

.logo {
	/* without !important doesn't work:
	solution found here: http://stackoverflow.com/questions/16625972/change-color-of-bootstrap-navbar-on-hover-link*/
	
	font-family: 'Droid Sans', 'Ubuntu', serif;
	color: red !important;
	text-align: center;
	font-size: 20 !important;
}

.img-team {
	width: 60%;
	height: auto;
}

.top-buffer {
    margin-top: 5%;
}

.navbar-custom {
    line-height: 85%;
}